<div class="paginator">
    <button mat-icon-button color="primary" (click)="previousFunction()" class="nav-button">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="input-area">
        <label class="label-input">{{label}}</label>
        <input readonly [value]="value" class="month-input" type="number" placeholder="Year" />
    </div>
    <button mat-icon-button color="primary" (click)="nextFunction()" class="nav-button">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>